/*
Teal color (used for headings and backgrounds): #4aaaa5

Regular font color (used for paragraphs and all text besides the headings): #777777

Main header background color: #ffffff

Main header border color: #cccccc

Footer background color: #666666

Main content background color: #ffffff

Main content border color: #dddddd

All other fonts: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
*/

/* Body */
body {
    background-color: #ffffff; 
    margin: auto;
    width: 960px;

}

h1, h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    
}

h1 {
    color: #ffffff;
    background-color: #4aaaa5;
    float: left;
    padding: 25px;
}

h2 {
    color: #4aaaa5;
    border-bottom: solid;
    border-bottom-color: #dddddd;

}


/* Main */
main {
    background-color: linen;
}

.content {
    margin: auto;
    width: 650px;
    position: relative;
    right: 157px;
    background-color: #ffffff;

}

.content h2 {
    padding: 15px;
}

.words {
    width: 250px;
    position: relative;
    left: 240px;
    bottom: 245px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.content ul {
    list-style-type: none;
    padding: 5px;

}

/* Social Buttons */

.social {
    margin: auto;
    width: 270px;
    position: relative;
    left: 340px;
    bottom: 465px;
    
}

.social-contact {
    margin: auto;
    width: 270px;
    position: relative;
    left: 340px;
    bottom: 137px;

}

.social-portfolio {
    margin: auto;
    width: 270px;
    position: relative;
    left: 340px;
    bottom: 105px;

}

.social h3 {
    color: #4aaaa5;
    border-bottom: solid;
    border-bottom-color: #dddddd;
    padding: 15px;
}

.social-contact h3 {
    color: #4aaaa5;
    border-bottom: solid;
    border-bottom-color: #dddddd;
    padding: 15px;
}

.social-portfolio h3 {
    color: #4aaaa5;
    border-bottom: solid;
    border-bottom-color: #dddddd;
    padding: 15px;
}

.social ul {
    list-style-type: none;
    padding: 5px;
    
}

.social ul li {
    float: left;
}

.social ul li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 5px;
    text-decoration: none;
   
}

.social-contact ul {
    list-style-type: none;
    padding: 5px;
}

.social-contact ul li {
    float: left;
}

.social-contact ul li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

.social-portfolio ul {
    list-style-type: none;
    padding: 5px;
}

.social-portfolio ul li {
    float: left;
}

.social-portfolio ul li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 25px;
    background-color: #ffffff;
    overflow: hidden;
}

nav ul li {
    float: right;
}

nav ul li a {
    display: block;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #cccccc;
}

/* Footer */
h5 {
    color: linen;
    background-color: #666666;
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    padding-top: 50px;

}